.content .left_wrap {
  width: 170px;
  height: 522px;
  background-color: #f5f5f5;
  border-right: 7px solid #e8eae9;
  box-shadow: 1px 0 1px #91b5d7;
  padding-left: 7px;
  padding-top: 10px;
}

.content {
  width: 1280px;
}

.content .right {
  width: 1092px;
  height: 522px;
  background-color: #eee;
}

.list-group a, h3 {
  text-align: center;
}

h3 {
  background-color: #60b3e7 !important;
}

h3:after {
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #17689a;
  right: 15px;
  top: 18px;
}

h3:before {
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #17689a;
  left: 15px;
  top: 18px;
}

.nav_left a:nth-of-type(1) {
  background: url("./../img/ico/zd.png") no-repeat center left;
  background-position-x: 5px
}

.nav_left a:nth-of-type(2) {
  background: url("./../img/ico/gys.png") no-repeat center left;
  background-position-x: 5px
}

.nav_left a:nth-of-type(3) {
  background: url("./../img/ico/yh.png") no-repeat center left;
  background-position-x: 5px
}

.nav_left a:nth-of-type(4) {
  background: url("./../img/ico/mm.png") no-repeat center left;
  background-position-x: 5px
}

.nav_left a:nth-of-type(5) {
  background: url("./../img/ico/tc.png") no-repeat center left;
  background-position-x: 5px
}

.nav_left a:hover {
  background-color: #92c609 !important;
}